{% extends 'layouts.html' %}
{% load static %}
{% block title %}
Team
{% endblock %}
{% block style %}
<link href="{% static 'css/style3.css'%} " rel="stylesheet">
{% endblock %}
{% block content %}
<!-- ======= Team Section ======= -->
<section id="team" class="team">
  <div class="container">

    <div class="section-title" data-aos="zoom-out">
      <h2>Team</h2>
      <p>Our Hardworking Team</p>
    </div>

    <div class="row">

      <div class="col-lg-4 col-md-4 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up">
          <div class="member-img">
            <img src="{% static 'img/team/team11.jpeg'%} " class="img-fluid" alt="">
            <div class="social">
              <a href="https://twitter.com/anmolchawla1?t=P4F6WmGRAWQgFZ-p-jXlFw&s=09" target="_blank"><i class="bi bi-twitter"></i></a>
              <a href="https://instagram.com/anmolchawla.official?utm_medium=copy_link" target="_blank"><i class="bi bi-instagram"></i></a>
              <a href="https://www.linkedin.com/in/anmol-chawla-556757b8" target="_blank"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Rtn. Anmol Chawla</h4>
            <span>Charter President (2018-19)<br>
Club Trainer (2021-22)
</span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="100">
          <div class="member-img">
            <img src="{% static 'img/team/team12.jpeg'%}" class="img-fluid" alt="">
            <div class="social">
              <a href="https://twitter.com/ShreyaSnehi?t=DrdArv8KKB4jhIbqLAddhw&s=09" target="_blank"><i class="bi bi-twitter"></i></a>
              <a href="https://instagram.com/shreya_snehi?utm_medium=copy_link" target="_blank"><i class="bi bi-instagram"></i></a>
              <a href="https://www.linkedin.com/in/shreya-snehi-405323192" target="_blank"><i class="bi bi-linkedin"></i></a>

            </div>
          </div>
          <div class="member-info">
            <h4>Rtn. Shreya Snehi</h4>
            <span>Charter Secretary (2018-19)<br>
Club President (2021-22)
</span>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="200">
          <div class="member-img">
            <img src="{% static 'img/team/team13.jpeg'%}" class="img-fluid" alt="">
            <div class="social">
              <a href="https://instagram.com/music.by.kabir?utm_medium=copy_link" target="_blank"><i class="bi bi-instagram"></i></a>
              <a href="https://www.linkedin.com/in/kabir-bansal-0514a4230" target="_blank"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Rtn. Kabir Bansal</h4>
            <span>Vice President (2018-21)<br>
President-Elect (2021-22)
</span>
          </div>
        </div>
      </div>



    </div>

  </div>
</section><!-- End Team Section -->

{% endblock %}
